*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/app/src/main/java/com/friendlyrobot/data/ReadCalendar.kt
/.idea/runConfigurations.xml
/.idea/vcs.xml
